/*CSS for body*/

body{
    height:1000px;
}
/*CSS for bar*/
nav{
    height: 150px;
    width: 100%;
    background-color: rgb(235, 188, 188);
}
/*CSS for content*/
/*CSS for footer*/
#time{
   
    height: auto;
    font-size: 17px;
    width: 100%;
    float: right;


    
}
#date{
    height: auto;
    width: 100%;
    font-size: 17px;
   
    float: right;}
#sub_date{
    width: 100%;
    font-size: 17px;
    float: right;
}

/*nav*/
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}

.input-box{
    margin-bottom: 10px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
  
#header{
    margin-top: 50px;
}