/*CSS for body*/

body{
    height:1000px;
}
/*CSS for bar*/
nav{
    height: 150px;
    width: 100%;
    background-color: rgb(235, 188, 188);
}
/*CSS for content*/
/*CSS for footer*/
#time{
   
    height: auto;
    font-size: 17px;
    width: 100%;
    float: right;


    
}
#date{
    height: auto;
    width: 100%;
    font-size: 17px;
   
    float: right;}
#sub_date{
    width: 100%;
    font-size: 17px;
    float: right;
}

/*nav*/
.topnav {
    background-color: rgb(128, 129, 131);
    overflow: hidden;
    height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
#main_page{
    padding-top: 15px;
}
#form{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}
#QR{
    height: 150px;
}